@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
#div1 {
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}

/* My styles 
 * =========
 */
 
#isMobileDevice{position:absolute;top:-999em;left:-999em}
.leaflet-popup-content a{text-decoration:none}
h2.mapTitle,.openSpacePopupTitle,.openSpacePopupSubTitle,.nbhdTitle,.bikeTrailsPopupTitle,.farmersMarketsPopupTitle,.farmersMarketsPopupSubTitle,.publicArtPopupTitle{font-family:'Open Sans Condensed',Arial Narrow,Sans-Serif;font-style:normal;font-weight:700}
h2.mapTitle{font-size:32px;line-height:44px;margin:0 0 16px}
.chosen-container,.iconsCredits{font-family:'Open Sans',Sans-Serif;font-style:normal;font-weight:400}
.chosen-container{font-size:13px;line-height:24px}
.iconsCredits{font-size:12px;line-height:18px}
.openSpacePopupTitle,.nbhdTitle,.bikeTrailsPopupTitle,.farmersMarketsPopupTitle,.publicArtPopupTitle{font-size:14px}
.openSpacePopupSubTitle,.farmersMarketsPopupSubTitle{font-size:13px}
.nbhdTitle{color:red}
.openSpacePopupTitle{color:green}
.bikeTrailsPopupTitle{color:#00008b}
.farmersMarketsPopupTitle{color:Purple}
.publicArtPopupTitle{color:#d2691e}

.mainContentWrapper,.selectorsWrapper,.nbhdFormWrapper,.openSpaceFormWrapper,.activitiesFormWrapper,.iconsCredits{display:block;float:left;margin:0;padding:0}
.mainContentWrapper,.selectorsWrapper{clear:both;width:100%}
.mainContentWrapper{height:600px;height:100vh;position:relative}
.selectorsWrapper{height:56px}
.nbhdFormWrapper{clear:both;width:50%}.openSpaceFormWrapper{clear:none;width:30%}.activitiesFormWrapper{clear:none;width:20%}
#Bos_nbhdForm .chosen-container,#Bos_openSpaceForm .chosen-container,#activitiesForm .chosen-container{width:98%!important}
#Bos_nbhdForm .chosen-container{z-index:99}
#Bos_nbhdForm .chosen-choices{max-height:56px;overflow:auto}
#map{clear:both;width:100%;height:calc(100% - 116px);z-index:9}
.iconsCredits{clear:both;width:100%}
.leaflet-top.leaflet-right{z-index:1010}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_tablet {
    margin-left: 0;
}
.hide_tablet {
    display: none;
}
}

/* Desktop Layout: 769px to a max of 1600px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.5%;
	max-width: 1600px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_desktop {
    margin-left: 0;
}
.hide_desktop {
    display: none;
}
}
  
/* = MEDIA QUERIES =
 * =================
 *
/* * max viewport 320 x 480 *
 *  ==========================
 *  |		* devicePixelRatio < 2 
 *  |		| --------------------
 *  |		|		* LG Optimus One - 213 x 320 
 *  |		|		* iPhone 3GS - 320 x 480
 */
 
@media 
only screen and (max-width:320px) and (orientation:portrait), 
only screen and (max-width:480px) and (orientation:landscape) {
#isMobileDevice:before{content:"yes"}
.mainContentWrapper{height:auto}
h2.mapTitle{font-size:24px;line-height:33px}
.selectorsWrapper{display:none}
.leaflet-control-layers-base{max-height:72px;overflow:auto}
}

@media 
only screen and (max-width:320px) and (orientation:portrait) {
#map{height:400px;height:100vh}
}

@media 
only screen and (max-width:480px) and (orientation:landscape) {
#map{height:300px;height:100vh}
}

/*!
 *  |		* devicePixelRatio >= 2
 *  |		| ---------------------
 *  |		|		* iPhone 4 - 320 x 480
 */
 
@media 
only screen and (max-width:320px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2), 
only screen and (max-width:320px) and (orientation:portrait) and (min-resolution:192dpi), 
only screen and (max-width:320px) and (orientation:portrait) and (min-resolution:2dppx), 
only screen and (max-width:480px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2), 
only screen and (max-width:480px) and (orientation:landscape) and (min-resolution:192dpi), 
only screen and (max-width:480px) and (orientation:landscape) and (min-resolution:2dppx) {
}

/*! * min viewport 321 x 481, max viewport 400 x 640 *
 *  ==================================================
 *  |		* devicePixelRatio < 2 
 *  |		| --------------------
 *  |		|		* Nokia Lumia 520 - 320 x 533 - Device Pixel Ratio: 1.4 
 *  |		|		* Google Nexus S, HTC Evo, Touch HD, Desire HD, Desire, LG Optimus 2X, Optimus 3D, Optimus Black, Nokia Lumia 7X0, Lumia 8XX, Lumia 900, N800, N810, N900, Samsung Galaxy S, S II, W - 320 x 533 - Device Pixel Ratio: 1.5
 *  |		|		* Motorola Defy, Droid, Droid X, Milestone - 320 x 569 - 9/16 aspect ratio - Device Pixel Ratio: 1.5 
 *  |		|		* HTC Sensation, Evo 3D, Nokia C5, C6, C7, N97, N9, N8, X7 - 360 x 640 
 *  |		|		* LG Optimus L70 - 384 x 640 - Device Pixel Ratio: 1.25 
 */
 
@media 
only screen and (min-width:321px) and (max-width:400px) and (orientation:portrait), 
only screen and (min-width:481px) and (max-width:640px) and (orientation:landscape), 
only screen and (min-device-width:320px) and (max-device-width:568px) and (device-aspect-ratio:40/71) and (orientation:portrait), 
only screen and (device-width:320px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.4) and (-webkit-max-device-pixel-ratio:1.9), 
only screen and (device-width:320px) and (orientation:portrait) and (min-resolution:144dpi) and (max-resolution:191dpi), 
only screen and (device-width:320px) and (orientation:portrait) and (min-resolution:1.4dppx) and (max-resolution:1.9dppx) {
#isMobileDevice:before{content:"yes"}
.mainContentWrapper{height:auto}
h2.mapTitle{font-size:24px;line-height:33px}
.selectorsWrapper{display:none}
.leaflet-control-layers-base{max-height:72px;overflow:auto}
}

@media 
only screen and (min-width:321px) and (max-width:400px) and (orientation:portrait), 
only screen and (min-device-width:320px) and (max-device-width:568px) and (device-aspect-ratio:40/71) and (orientation:portrait), 
only screen and (device-width:320px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.4) and (-webkit-max-device-pixel-ratio:1.9), 
only screen and (device-width:320px) and (orientation:portrait) and (min-resolution:144dpi) and (max-resolution:191dpi), 
only screen and (device-width:320px) and (orientation:portrait) and (min-resolution:1.4dppx) and (max-resolution:1.9dppx) {
#map{height:400px;height:100vh}
}

@media only screen and (min-width:481px) and (max-width:640px) and (orientation:landscape) {
#map{height:300px;height:100vh}
}

/*! 
 *  |		* devicePixelRatio >= 2 
 *  |		| ---------------------
 *  |		|		* iphone 5 - 320 x 568 - 40/71 aspect ratio 
 *  |		|		* BlackBerry Z30, Google Nexus 5, HTC One X, EVO LTE, Samsung Galaxy Note 3, Samsung Galaxy Note II, Samsung Galaxy S III, Galaxy Nexus, Samsung Galaxy S4, Sony Xperia S, Ion, Sony Xperia Z, Z1 - 360 x 640
 *  |		|		* BlackBerry Z10, Google Nexus 4, LG Optimus G - 384 x 640
 *  |		|		* Google Nexus 4 - 384 x 567
 *  |		|		* Google Nexus 5 - 335 x 598
 *  |		|		* Samsung Galaxy Note - 400 x 640
 */
 
@media 
only screen and (min-width:321px) and (max-width:400px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2), 
only screen and (min-width:321px) and (max-width:400px) and (orientation:portrait) and (min-resolution:192dpi), 
only screen and (min-width:321px) and (max-width:400px) and (orientation:portrait) and (min-resolution:2dppx), 
only screen and (min-width:481px) and (max-width:640px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2), 
only screen and (min-width:481px) and (max-width:640px) and (orientation:landscape) and (min-resolution:192dpi), 
only screen and (min-width:481px) and (max-width:640px) and (orientation:landscape) and (min-resolution:2dppx), 
only screen and (min-device-width:320px) and (max-device-width:568px) and (device-aspect-ratio:40/71) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2) {
}

/*! * min viewport 401 x 641, max viewport 480 x 800 *
 *  ==================================================
 *  |		* devicePixelRatio < 2 
 *  |		| --------------------
 *  |		|		* LG Optimus LTE, Optimus 4X HD - 424 x 753
 */
 
@media 
only screen and (min-width:401px) and (max-width:480px) and (orientation:portrait), 
only screen and (min-width:641px) and (max-width:800px) and (orientation:landscape), 
only screen and (min-device-width:375px) and (max-device-width:667px) and (orientation:portrait) and (device-aspect-ratio:375/667) {
#isMobileDevice:before{content:"yes"}
.mainContentWrapper{height:auto}
h2.mapTitle{font-size:24px;line-height:33px}
.selectorsWrapper{display:none}
.leaflet-control-layers-base{max-height:auto;overflow:auto}
}

@media 
only screen and (min-width:401px) and (max-width:480px) and (orientation:portrait), 
only screen and (min-device-width:375px) and (max-device-width:667px) and (orientation:portrait) and (device-aspect-ratio:375/667) {
#map{height:500px;height:100vh}
}

@media 
only screen and (min-width:641px) and (max-width:800px) and (orientation:landscape) {
#map{height:300px;height:100vh}
}

/*! 
 *  |		* devicePixelRatio >= 2 
 *  |		| ---------------------
 *  |		|		* iPhone 6 - 375 x 667 - 375/667 aspect ratio
 *  |		|		* iPhone 6+ - 414 x 736
 *  |		|		* Google Nexus 6 - 412 x 659 - Device pixel ratio 3.5
 */
 
@media  
only screen and (min-width:401px) and (max-width:480px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2), 
only screen and (min-width:401px) and (max-width:480px) and (orientation:portrait) and (min-resolution:192dpi), 
only screen and (min-width:401px) and (max-width:480px) and (orientation:portrait) and (min-resolution:2dppx), 
only screen and (min-width:641px) and (max-width:800px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2), 
only screen and (min-width:641px) and (max-width:800px) and (orientation:landscape) and (min-resolution:192dpi), 
only screen and (min-width:641px) and (max-width:800px) and (orientation:landscape) and (min-resolution:2dppx), 
only screen and (min-device-width:375px) and (max-device-width:667px) and (orientation:portrait) and (device-aspect-ratio:375/667) and (-webkit-min-device-pixel-ratio:2) {
}

/*! * min viewport 481 x 801, max viewport 768 x 1024 *
 *  ===================================================
 *  |		* devicePixelRatio < 2 
 *  |		| --------------------
 *  |		|		* Kindle Fire HD 7" - 853 x 533
 *  |		|		* Sony Xperia Sola, U - 480 x 854
 *  |		|		* Motorola Droid 3, Droid 4, Droid Razr, Atrix 4G, Atrix 2 - 540 x 960
 *  |		|		* Google Nexus 7 - 966 x 604
 *  |		|		* Kindle Fire, BlackBerry PlayBook, Samsung Galaxy Tab - 1024 x 600
 *  |		|		* iPad 1 / 2 / iPad Mini - 1024 x 768 
 */
 
@media 
only screen and (min-width:481px) and (max-width:768px) and (orientation:portrait), 
only screen and (min-width:801px) and (max-width:1024px) and (orientation:landscape), 
only screen and (device-width:480px) and (device-height:854px) {
#isMobileDevice:before{content:"yes"}
.mainContentWrapper{height:auto}
h2.mapTitle{font-size:28px;line-height:39px}
.selectorsWrapper{display:none}
.leaflet-control-layers-base{max-height:auto;overflow:auto}
}

@media 
only screen and (min-width:481px) and (max-width:768px) and (orientation:portrait), 
only screen and (device-width:480px) and (device-height:854px) and (orientation:portrait) {
#map{height:700px;height:100vh}
}

@media 
only screen and (min-width:801px) and (max-width:1024px) and (orientation:landscape) {
#map{height:400px;height:100vh}
}

/*! 
 *  |		* devicePixelRatio >= 2 
 *  |		| --------------------
 *  |		|		* Samsung Galaxy Note 3 - 540 x 960
 *  |		|		* Google Nexus 7, Kindle Fire HDX 7" - 960 x 600
 *  |		|		* iPad 3/4 - 1024 x 768
 */
 
@media 
only screen and (min-width:481px) and (max-width:768px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2), 
only screen and (min-width:481px) and (max-width:768px) and (orientation:portrait) and (min-resolution:192dpi), 
only screen and (min-width:481px) and (max-width:768px) and (orientation:portrait) and (min-resolution:2dppx), 
only screen and (min-width:801px) and (max-width:1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2), 
only screen and (min-width:801px) and (max-width:1024px) and (orientation:landscape) and (min-resolution:192dpi), 
only screen and (min-width:801px) and (max-width:1024px) and (orientation:landscape) and (min-resolution:2dppx) {
}

/*! * min viewport 769 x 1025, max viewport 1024 x 1280 *
 *  =====================================================
 *  |		* devicePixelRatio < 2 
 *  |		| --------------------
 *  |		|		* Motorola Droid Razr HD - 720 x 1280 - 9/16 aspect ratio
 *  |		|		* Kindle Fire HD 8.9", Motorola Xoom, Xyboard, Samsung Galaxy Tab 7.7, 8.9, 10.1 - 1280 x 800
 */
 
@media 
only screen and (min-width:769px) and (max-width:1024px) and (orientation:portrait), 
only screen and (min-width:1025px) and (max-width:1280px) and (orientation:landscape), 
only screen and (min-device-width:720px) and (device-aspect-ratio:9/16) and (orientation:portrait){
#isMobileDevice:before{content:"yes"}
.mainContentWrapper{height:auto}
h2.mapTitle{font-size:32px;line-height:44px}
.selectorsWrapper{display:none}
.leaflet-control-layers-base{max-height:auto;overflow:auto}
}

@media 
only screen and (min-width:769px) and (max-width:1024px) and (orientation:portrait),
only screen and (min-device-width:720px) and (device-aspect-ratio:9/16) and (orientation:portrait){
#map{height:960px;/*height:100vh*/}
}

@media
only screen and (min-width:1025px) and (max-width:1280px) and (orientation:landscape) {
#map{height:600px;/*height:100vh*/}
}

/*! 
 *  |		* devicePixelRatio >= 2 
 *  |		| ---------------------
 *  |		|		* Google Nexus 10, Kindle Fire HDX 8.9" - 1280 x 800
 */
 
@media 
only screen and (min-width:769px) and (max-width:1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2), 
only screen and (min-width:769px) and (max-width:1024px) and (orientation:portrait) and (min-resolution:192dpi), 
only screen and (min-width:769px) and (max-width:1024px) and (orientation:portrait) and (min-resolution:2dppx), 
only screen and (min-width:1025px) and (max-width:1280px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2), 
only screen and (min-width:1025px) and (max-width:1280px) and (orientation:landscape) and (min-resolution:192dpi), 
only screen and (min-width:1025px) and (max-width:1280px) and (orientation:landscape) and (min-resolution:2dppx), 
only screen and (min-device-width:720px) and (orientation:portrait) and (device-aspect-ratio:9/16) and (-webkit-min-device-pixel-ratio:2), 
only screen and (min-device-width:720px) and (orientation:portrait) and (device-aspect-ratio:9/16) and (min-resolution:192dpi), 
only screen and (min-device-width:720px) and (orientation:portrait) and (device-aspect-ratio:9/16) and (min-resolution:2dppx) {
}

/*! * min viewport 1025 portrait, 1281 landscape
 *  ============================================
 *  |		* devicePixelRatio < 2 
 *  |		| --------------------
 */
 
@media 
only screen and (min-width:1025px) and (orientation:portrait),
only screen and (min-width:1281px) and (orientation:landscape) {
#isMobileDevice:before{content:"no"}
.selectorsWrapper{display:Block}
}

/*! 
 *  |		* devicePixelRatio >= 2 
 *  |		| ---------------------
 */
 
@media 
only screen and (min-width:1025px)  and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2), 
only screen and (min-width:1025px)  and (orientation:portrait) and (min-resolution:192dpi), 
only screen and (min-width:1025px)  and (orientation:portrait) and (min-resolution:2dppx),
only screen and (min-width:1281px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2),
only screen and (min-width:1281px) and (orientation:landscape) and (min-resolution:192dpi), 
only screen and (min-width:1281px) and (orientation:landscape) and  (min-resolution:2dppx) {
}
