    /*
    Flaticon icon font: Flaticon
    Creation date: 30/05/2016 04:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-baseball-ball:before { content: "\f100"; }
.flaticon-basket32:before { content: "\f101"; }
.flaticon-book313:before { content: "\f102"; }
.flaticon-burning:before { content: "\f103"; }
.flaticon-christian52:before { content: "\f104"; }
.flaticon-concert1:before { content: "\f105"; }
.flaticon-cycling4:before { content: "\f106"; }
.flaticon-exercise2:before { content: "\f107"; }
.flaticon-field1:before { content: "\f108"; }
.flaticon-fields:before { content: "\f109"; }
.flaticon-food:before { content: "\f10a"; }
.flaticon-fountain3:before { content: "\f10b"; }
.flaticon-gardener:before { content: "\f10c"; }
.flaticon-gardening:before { content: "\f10d"; }
.flaticon-golf17:before { content: "\f10e"; }
.flaticon-government1:before { content: "\f10f"; }
.flaticon-group44:before { content: "\f110"; }
.flaticon-halloween286:before { content: "\f111"; }
.flaticon-help27:before { content: "\f112"; }
.flaticon-horse1:before { content: "\f113"; }
.flaticon-hot-drink65:before { content: "\f114"; }
.flaticon-ice79:before { content: "\f115"; }
.flaticon-man-silhouette1:before { content: "\f116"; }
.flaticon-marine:before { content: "\f117"; }
.flaticon-monument50:before { content: "\f118"; }
.flaticon-mountain:before { content: "\f119"; }
.flaticon-museum21:before { content: "\f11a"; }
.flaticon-musical200:before { content: "\f11b"; }
.flaticon-oak:before { content: "\f11c"; }
.flaticon-park13:before { content: "\f11d"; }
.flaticon-people:before { content: "\f11e"; }
.flaticon-people-1:before { content: "\f11f"; }
.flaticon-pilates47:before { content: "\f120"; }
.flaticon-river6:before { content: "\f121"; }
.flaticon-sailing-boat4:before { content: "\f122"; }
.flaticon-sea-waves:before { content: "\f123"; }
.flaticon-sea16:before { content: "\f124"; }
.flaticon-seat6:before { content: "\f125"; }
.flaticon-silhouette66:before { content: "\f126"; }
.flaticon-sport:before { content: "\f127"; }
.flaticon-sports:before { content: "\f128"; }
.flaticon-sports-1:before { content: "\f129"; }
.flaticon-summer:before { content: "\f12a"; }
.flaticon-summer-1:before { content: "\f12b"; }
.flaticon-swimming21:before { content: "\f12c"; }
.flaticon-table:before { content: "\f12d"; }
.flaticon-teeter:before { content: "\f12e"; }
.flaticon-tennis2:before { content: "\f12f"; }
.flaticon-theater3:before { content: "\f130"; }
.flaticon-touristic:before { content: "\f131"; }
.flaticon-transport553:before { content: "\f132"; }
.flaticon-transport555:before { content: "\f133"; }
.flaticon-water110:before { content: "\f134"; }
    
    $font-Flaticon-baseball-ball: "\f100";
    $font-Flaticon-basket32: "\f101";
    $font-Flaticon-book313: "\f102";
    $font-Flaticon-burning: "\f103";
    $font-Flaticon-christian52: "\f104";
    $font-Flaticon-concert1: "\f105";
    $font-Flaticon-cycling4: "\f106";
    $font-Flaticon-exercise2: "\f107";
    $font-Flaticon-field1: "\f108";
    $font-Flaticon-fields: "\f109";
    $font-Flaticon-food: "\f10a";
    $font-Flaticon-fountain3: "\f10b";
    $font-Flaticon-gardener: "\f10c";
    $font-Flaticon-gardening: "\f10d";
    $font-Flaticon-golf17: "\f10e";
    $font-Flaticon-government1: "\f10f";
    $font-Flaticon-group44: "\f110";
    $font-Flaticon-halloween286: "\f111";
    $font-Flaticon-help27: "\f112";
    $font-Flaticon-horse1: "\f113";
    $font-Flaticon-hot-drink65: "\f114";
    $font-Flaticon-ice79: "\f115";
    $font-Flaticon-man-silhouette1: "\f116";
    $font-Flaticon-marine: "\f117";
    $font-Flaticon-monument50: "\f118";
    $font-Flaticon-mountain: "\f119";
    $font-Flaticon-museum21: "\f11a";
    $font-Flaticon-musical200: "\f11b";
    $font-Flaticon-oak: "\f11c";
    $font-Flaticon-park13: "\f11d";
    $font-Flaticon-people: "\f11e";
    $font-Flaticon-people-1: "\f11f";
    $font-Flaticon-pilates47: "\f120";
    $font-Flaticon-river6: "\f121";
    $font-Flaticon-sailing-boat4: "\f122";
    $font-Flaticon-sea-waves: "\f123";
    $font-Flaticon-sea16: "\f124";
    $font-Flaticon-seat6: "\f125";
    $font-Flaticon-silhouette66: "\f126";
    $font-Flaticon-sport: "\f127";
    $font-Flaticon-sports: "\f128";
    $font-Flaticon-sports-1: "\f129";
    $font-Flaticon-summer: "\f12a";
    $font-Flaticon-summer-1: "\f12b";
    $font-Flaticon-swimming21: "\f12c";
    $font-Flaticon-table: "\f12d";
    $font-Flaticon-teeter: "\f12e";
    $font-Flaticon-tennis2: "\f12f";
    $font-Flaticon-theater3: "\f130";
    $font-Flaticon-touristic: "\f131";
    $font-Flaticon-transport553: "\f132";
    $font-Flaticon-transport555: "\f133";
    $font-Flaticon-water110: "\f134";